<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" >
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" >
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

    </head>
<body>
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="images/smlogo.png"></a>
        <button class="navbar-toggler" 
        type="button" data-toggle="collapse"
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
          <!--<span class="navbar-toggler-icon"></span>-->
          <i class="fa fa-bars" ></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto" >
            <li class="nav-item">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Companies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News Feed</a>
        </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Registration</a>
    </li>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Login </a>
</li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
          </ul>
        </div>
      </nav>
</section>
<!----------------------BANNER SECTION------------->
<section id="banner">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
  <!----  <p class="promo-title">COLLABORATING EVERYONE</p>  -->            
    </div>
<div class="col-md-6 text-center">
</div>
</div>
</div>
</section>

<!---------------------Form Section--------------------------------->
<section class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form action="/lms/loginPost/" method="GET" class="form-container">
             <a class="logo" href="#"><img src="smlogo.png" class="logo"></a>
              <h1 class="input-group">BRIDG.IT</h1>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="UserPassword" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                <a href="#"><p>Create an account</p></a>
                <a href="#"><p>Forgot Password</p></a>
              </form>
        </section>
    </section>
  </section>
  <!-----------------------social media section-------------
<section id="social-media">
  <div class="container text-center">
    <div class="row force-to-bottom text center">
       <p>LOGIN WITH </p> <p>      </p>
      <div class="social-icons">
      <a href="#"><img src="images/fb.png"></a>
      <a href="#"><img src="images/google.png"></a>
      <a href="#"><img src="images/linkedin.png"></a>
      <a href="#"><img src="images/twitter.png"></a>
      
      </div>
   </div>
  </div>
  </section>
-->
<section id="social-media">
  <div class="footer">
    <div class="social-icons">
      <a href="#"><img src="images/fb.png"></a>
      <a href="#"><img src="images/google.png"></a>
      <a href="#"><img src="images/linkedin.png"></a>
      <a href="#"><img src="images/twitter.png"></a>
      </div>
  </div>
</section>

</body>
</html>