<html> 
    <head>
        <title>Bridg.it</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
       
    <section id="nav-bar">
        
        
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
           
            
            <a class="navbar-brand" href="#"><img src="LMS/landingPage/images/smlogo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        
      <li class="nav-item">
        <a class="nav-lṭink" href="#">HOME</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="#top">COMPANIES</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link" href="#">PRODUCT</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link" href="#">NEWS FEED</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link" href="#">REGISTER</a>
      </li>
        
        <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
        
    </ul>
  </div>
</nav>
        </section>
        <!---------------------------banner--------------->
<section id="banner">
<div class="container">
<div class="row">
<div class="col-md-6">
<p class="promo-title">Collaborating Everyone</p>

</div>
</div>
</div>
        
</section>
   
<!---------------Services section---------------------->
<section id="services">
<div class="container text-center">
<h1 class="title">WHAT WE DO?</h1>
<div class="row text-center">
<div class="col-md-4 services">
<img src="landingPage/images/buysellrent.jfif" class="service-img">
<h4>Buy sell rent</h4>
<p>Use our website to Buy Sell or Rent materials from the best sellers around the world</p>
    </div> 
<div class="col-md-4 services">
<img src="images/sustainablility.jfif" class="service-img">
<h4>Increases Sustainablility</h4>
<p>We understand the growing need for integrating environmentally sound choices</p>
    </div>
<div class="col-md-4 services">
<img src="images/waste_reduction.png" class="service-img">
<h4>Waste Reduction</h4>
<p>We take utmost measures to reduce as we believe in a greaner tomorrow</p>
    </div>
    </div>    
     <button type="button"class="btn btn-primary">All Services</button>
    </div>
    
        </section>
        
<!-------------------About us------------->
<section id="about-us">
<div class="container">
<h1 class="title text-center">WHY CHOOSE US?</h1> <div class="row">
<div class="col-md-6 about-us">
<p class= "title-title">We are different because we</p>
<ul>
    <li>Believe in Sustainability in Supply Chain Management</li>
    <li>Believe in greaner tomorrow</li>
    <li>Believe in waste reduction</li>
    </ul>    
    
</div>
    <div class="col-md-6">
    <img src="images/chooseus.png" class="image-fluid">
</div>
</div>                                      
</div>        
</section>
<!-----------------------testimonials section-------------->        
 <section id= "testimonials">
<div class="container">
<h1 class="title text-center">WHAT CLIENTS SAY</h1>
<div class="row offset-1">
<div class="col-md-5 testimonials">
<p>A great platform</p>
<img src="LMS/landingPage/images/user1.jfif">
<p class="user-details"><b>Agelina</b><br>Co-founder at XYZ</p>
</div>
<div class="col-md-5 testimonials">
<p>A great platform for both buyer and sellers</p>
<img src="LMS/landingPage/images/user2.png">
<p class="user-details"><b>Mark</b><br>Director at ABC</p>
</div>
</div>
</div>   
</section>  

<!-----------------------social media section-------------->
<section id="social-media">
<div class="container text-center">
<p>FIND US ON SOCIAL MEDIA</p>
    <div class="social-icons">
    <a href="#"><img src="LMS/landingPage/images/fb.png"></a>
    <a href="#"><img src="LMS/landingPage/images/google.png"></a>
    <a href="#"><img src="LMS/landingPage/images/linkedin.png"></a>
    <a href="#"><img src="LMS/landingPage/images/twitter.png"></a>
    
    </div>
    
</div>
</section>
        
     
<!--------------------smooth scroll section---------->
        <script src="smooth-scroll.js"></script>
        <script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
        
        
</body>
    
</html>